blackfriday/
California-House-Price-Prediction-master/
Blackfridaysale08.docx
Blackfridaysale08.pdf
California_housing_prices (3).ipynb
gym code.pdf
gym_project report.pptx
ML report.docx
ML report.pdf


